.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    
    &.is-active {
      transition-duration: 1s;
      background-position: -2800px 0;
    }
  }
  

  .placement {
    position: fixed;

    transform: translate(-50%, -50%);
  }

  .like-button {
    background-color: rgb(255, 255, 255);
    margin: 2rem;
    position: sticky;
    transform: translate(0, -50%);
    z-index: 1; /* To ensure it appears above other content */
  }
  